@media screen and (min-width: 1024px) and (max-width: 1279px) {
    
    #featured h1 {
        font-size: 30px;
    }
    
    #featured .position-adjust {
        bottom: 20%;
    }
    
    #featured p{
    font-size: 20px;
    margin-top: 20px;

}
	
}

@media screen and (min-width: 1280px) and (max-width: 1920px) {

    #featured h1 {
        font-size: 50px;
    }
    
    #featured .position-adjust {
        bottom: 30%;
    }

	
}