body{
	font-family: "Open Sans";
/*    -webkit-transform: translateZ(0px);*/
}

h1, h2, h3, h4, h5, h6{
	font-family: "Open Sans";
}

a, button{
	transition: .20s ease-in-out;
	-webkit-transition: .20s ease-in-out;
	-moz-transition: .20s ease-in-out;
	-o-transition: .20s ease-in-out;
}

.container{
	max-width: 960px;
}


#header{
    background-image: url(../img/bg-header-03.png);
    width: 100%;
    border-bottom: 4px #F8C336 solid;
    position: fixed;
    z-index: 200;
    top: 0;
/*    -webkit-transform: translate3d(0, 0, 0);*/
    
    
}

/*
#header .position-layer{
    position: relative;
    z-index: 100;

}
*/

#header li{
    margin: 0px;
}

#header ul li a{
    height: 80px;
    padding: 30px 20px;
    color: #fff;
    border-radius: 0px;
    font-size: 18px;
    font-weight: lighter;

}

#header ul li a:hover{
    background-color: #F8C336;
    color: #262626;
}

#header .position-logo{
    padding: 12px;
    margin-right: 25px;
    

}

#header .position-logo:hover{
    background-color: transparent;
    

}

#header .social-icons{
    padding: 25px 0px 0px 10px;

}

#header .social-icons a{
    padding: 3px;
    font-size: 25px;
    color: #F8C336;
    

}

#header .social-icons a:hover{
    background-color: transparent;
    color: #444444;
}

#header .btn-bar-phone{
        display: none;
    
}


#featured{
    width: 100%;
    position: relative;
/*    z-index: -2;*/
/*    margin-top: -85px;*/
    display: table;
}


#featured h1{
/*
    color: #fff;
    font-weight: lighter;
    text-shadow: 6px 6px 5px #000;
    text-align: center;
    margin-bottom: 180px;
*/
    
    color: #fff;
    /* font-weight: lighter; */
    text-shadow: 5px 4px 6px #000;
    /* text-align: center; */
    /* margin-bottom: 180px; */
    text-align: center;
    font-family: "Comfortaa";
    /* font-weight: lighter; */
    font-size: 50px;
    color: #F2F4F2;
    margin: 0px;

}

#featured p{
    text-align: center;
    color: #F2F4F2;
    font-weight: lighter;
    font-size: 30px;
    margin-top: 30px;

}

#featured .position-adjust{
    bottom: 40%;

}

.bar-phone{
        display: none;
    
    }


/*
#featured .position-iten{
    margin-bottom: 200px;

}
*/

#featured .btn-custom{
/*
    background-color: #F8C336;
    border-radius: 0px;
    border-bottom: 8px #DDA424 solid;
    color: #fff;
    font-size: 20px;
    font-family: "Comfortaa";
    padding: 12px 20px;
    font-weight: bold;
*/
    background-color: transparent;
    background-image: url(../img/bg-btn-03.png);
    padding: 10px 40px;
    border-radius: 0px;
    border: none;
    color: #F2F4F2;
	font-size: 25px;
	font-weight: normal;
    border-bottom: 5px #DDA424 solid;
    margin-top: 40px;

}

#featured .btn-custom:hover{
    background-color: #DDA424;

}

#about{
    background-image: url(../img/bg-about-01.png);
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    height: 850px;
/*    padding: 0px 30px;*/

}

.adjust-col{
    padding: 0px;

}

.position-title{
    padding-top: 30px;
    padding-left: 20px;

}

#about h1{
    margin: 0px;
    padding: 35px 0px 0px 25px;
    font-weight: bold;
}

#about .text-about{
   padding: 50px 20px 50px;
    
}

#about .text-about p{
    font-size: 24px;
    font-weight: lighter;
    text-align: right;
    margin-bottom: 20px

}

#about .mobile{
    width: 100%;

}

#about .mobile .position-mobile{
    padding: 10px 80px 70px;

}

#about .gadgets span{
    font-weight: bold;
    font-family: "Comfortaa";
   

} 

#about .gadgets{
    margin-top: 40px;
   

} 

#about .adjust-padding-stores{
    padding: 0px;
    text-align: center;


}

#objetive{
    background-image: url(../img/bg-objetive-01.png);
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    height: 850px;

}


#objetive h1{
    margin: 0px;
    padding: 35px 0px 0px 10px;
    font-weight: bold;
}

.icon-align-right{
}

#objetive p{
    font-weight: lighter;
    text-align: center;
    font-size: 25px;

}

#objetive .icon-align{
    padding-left: 75px;

}

#objetive .content-objetive{
    margin-bottom: 40px;

}

#free{
    background-image: url(../img/bg-free-01.png);
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    height: 850px;
    
}

#free h1{
    margin: 0px;
    padding: 35px 0px 0px 25px;
    font-weight: bold;
    color: #fff;
}

#free p{
    text-align: center;
    font-weight: lighter;
    font-size: 30px;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 30px;
    text-shadow: 6px 6px 5px #000;

}

.adjust-center-img{
    width: 100%;

}

#free .imac-img{
    width: 470px;
    height: 400px;
    margin: 0px auto;

}

   #free .imac-img-phone{
        display: none;
    
    }

#us{
    background-image: url(../img/bg-us-01.png);
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    height: 850px;

}

#us h1{
    margin: 0px;
    padding: 35px 0px 0px 10px;
    font-weight: bold;
    
}

#us .about-us{
    text-align: center;
    font-weight: lighter;
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 120px;

}

#us p{
    font-weight: lighter;
    text-align: center;
    font-size: 20px;

}

#us .profile-photo img{
    display: table;
    border-radius: 80px;
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
    
    

}

#us .icon-align{
    display: table;
    margin: 0px auto;

}

#enjoy{
    
    background-image: url(../img/bg-enjoy-01.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 835px;

}

#enjoy .logo-enjoy{
    display: table;
    margin: 0px auto;
    margin-top: 90px;

}

#enjoy h1{
    text-align: center;
    font-family: "Comfortaa";
    font-weight: lighter;
    font-size: 50px;
    margin-top: 70px;
    color: #F2F4F2;

}

#enjoy span{
    color: #F8C336;
    font-weight: bold;

}

#enjoy p{
    text-align: center;
    color: #F2F4F2;
    font-weight: lighter;
    font-size: 30px;
    margin-top: 30px;

}

#enjoy .position-form-enjoy{
    margin-top: 120px;
    padding: 0px 140px;

}

#enjoy label{
    font-size: 25px;
    font-weight: lighter;
    color: #F2F4F2;


}

#enjoy input{
    background-color: transparent;
    background-image: url(../img/bg-form-03.png);
    border-radius: 0px;
    border: 2px #F8C336 solid;
    height: 50px;
    
}

#enjoy .btn-custom-enjoy{
    background-color: transparent;
    background-image: url(../img/bg-btn-03.png);
    padding: 10px 40px;
    border-radius: 0px;
    border: none;
    color: #F2F4F2;

}

#enjoy .btn-custom-enjoy:hover{
    background-image: none;
    background-color: #363636;
    


}

/*
#map{
    height: 850px;

}

#contact .form-contact{
    width: 490px;
    height: 850px;
    background-color: #EACC71;
    position: relative;
    margin-top: -850px;
    padding: 60px;

}

#contact h1{
    margin: 0px;
    text-align: center;
    margin-bottom: 40px;
    
}

#contact form label{
    font-weight: lighter;
    font-size: 25px;

}

#contact form input{
    border-radius: 0px;
    height: 52px;

}

#contact form .area-code{
    width: 80px;

}

#contact form .input-number{
    width: 280px;

}

#contact form textarea{
    height: 150px;
    border-radius: 0px;

}

#contact .btn-custom-form{
    background-color: #F8C336;
    border: none;
    border-bottom: 8px #DDA424 solid;
    color: #fff;
    font-size: 20px;
    font-family: "Comfortaa";
    padding: 10px 60px;
    border-radius: 0px;
    margin-top: 30px;
    

}

#contact .btn-custom-form:hover{
    background-color: #DDA424;
    

}
*/

#footer {
    height: 100px;
    background-color: #363636;
    border-bottom: 8px #000 solid;

}

#footer .social-icons-footer{
    padding: 35px 0px 0px 15px;

}

#footer .social-icons-footer a{
    padding: 3px;
    font-size: 25px;
    color: #F8C336;
    

}

#footer .social-icons-footer a:hover{
    background-color: transparent;
    color: #444444;
}

#footer p{
    color: #fff;
    text-align: left;
    font-family: "Comfortaa";
    font-size: 13px;
    margin-top: 30px;

}

#footer .mail{
    color: #fff;
    text-decoration: none;

}

#footer .mail:hover{
    color: #F8C336;

}
