
@media screen and (max-width: 1024px) {
    
    #header .btn-bar-phone{
        display: none;
    
    }
    
    #objetive .icon-align{
        padding-left: 0px;
        display: table;
        margin: 0px auto;
        
    }
    
    
    
    
}
