@media screen and (min-width: 768px) and (max-width: 1024px)  {
    
#header .btn-bar-phone{
    display: none;
    
}
    
#header li{
    margin: 0px;
}

#header ul li a{
    height: 80px;
    padding: 25px 10px;
    color: #fff;
    border-radius: 0px;
    font-size: 18px;

}

#header ul li a:hover{
    background-color: #F8C336;
    color: #262626;
}
    
    #header .hide-social{
        display: none;
    
}
    #about .text-about p{
    font-size: 18px;
    font-weight: lighter;
    text-align: right;

}
    
    #objetive p{
        font-size: 20px;
    }
    
    #featured h1 {
        font-size: 20px;
    }
    
    #featured .position-adjust {
        bottom: 15%;
    }
    
    #featured p{
    font-size: 20px;
   

}
    
     #featured .btn-custom{
        margin-top: 0px;

}
    
       #free .imac-img-phone{
        display: none;
    
    }
    
    .bar-phone{
        display: none;
    
    }
}
    